.hoverable:hover {
    transition: box-shadow .25s !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19) !important;
}

input:focus {
  border-bottom: 1px solid #EB5122 !important;
  -webkit-box-shadow: 0 1px 0 0 #EB5122 !important;
  -moz-box-shadow: 0 1px 0 0 #EB5122 !important;
  box-shadow: 0 1px 0 0 #EB5122 !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 0px !important;
    position: fixed;
    width: 100%;
}

main {
   flex: 1 0 auto;
}

footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
}


.roomit-dot {
    height: 3px;
    width: 3px;
    background-color: #EB5122;
}

.bold {
    font-weight: 500;
}

.almost-white {
    background-color: #F2F2F2 !important;
}

.almost-black {
    background-color: #312929 !important; /* trying to make dark theme */
}

.card {
    background-color: #442f30 !important; /* trying to make dark theme on cards like discover page */
}

.card-black {
     background-color: #442f30 !important; /* trying to make dark theme on li in cards like discover page */
}

footer .container {
    width: 75% !important;
    padding: 15px 0px;
}

footer .container .row {
    margin-bottom: 0px;
}

footer .roomit-logo-wrapper {
    display: inline-block;
}

footer .roomit-logo-wrapper span {
    line-height: 7px;
    font-size: 9px;
    font-weight: 400;
    display: block;
}

footer .links {
    text-align: center;
}

footer .links a {
    margin-right: 20px;
    font-size: 11px;
    font-weight: 500;
    color: #9E9E9E;
}

footer .links a:hover {
    color: #333333;
}

footer .social {
    text-align: right;
}

footer .social a {
    margin-right: 10px;
}