.header-transparent {
    background-color: transparent !important;
    box-shadow: none;
}

/*header .container {
    width: 75% !important;
}

header .main-menu a {
    padding: 0px 15px;
}

header .main-menu a {
    font-size: 13px;
}

header .main-menu a:hover{
    color: #FF5722;
}
*/
/*header .get-premium {
    background-color: transparent;
    border: 1px solid #FF5722;
    color: #FF5722;
}

header .get-premium:hover {
    background-color: #FF5722;
    color: #FFFFFF !important;
}*/

.header-with-dot h1,
.header-with-dot h2,
.header-with-dot h3,
.header-with-dot h4,
.header-with-dot span,
.header-with-dot .roomit-dot {
    display: inline-block;
    text-align: center;
}

.header-with-dot h3 {
    margin: 0;
}

.header-with-dot h3 .roomit-dot {
    margin-left: -6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}

.header-with-dot span .roomit-dot {
    margin-left: 2px;
}

#header-banner {
    height: 100vh !important;
    margin: 0;
    padding: 0;
    background: url('/img/header1.png') 50% 50% no-repeat;
    background-size: cover;
}

#header-banner .container.header {
    height: 100%;
}

#header-banner .container.scroll {
    position: relative;
    bottom: 50px;
}

#support-header .container img {
    margin: 5px 10px;
}

.supportBackground {
    background-color: #2a2a2a;
}

.section.main {
    padding-top: 45px;
    height: 420px;
}

.section.main .header {
    font-size: 28px;
}

.section.main .first-row{
    padding-top: 45px;
}

#benefits .roomit-dot {
display: inline-block;
}

.benefits-row p {
    margin-top: 17px;
    margin-bottom: 17px;
}

.benefits-row .description {
    font-size: 13px;
    color: #f5f5f5;
}

.benefit-title {
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 500;
}

.benefitsBackground {
    background-color: #333333;
}

#discover {
    padding: 45px 0px;
}

.stream .card-content {
    width: 100%;
    cursor: default;
    padding: 16px 10px 17px 16px !important;
    float: left;
    font-size: 12px;
}

.stream .details {
    margin: 0px;
    width: 100%;
    border: none;

    text-align: left;
}

.stream .details i {
    position: relative;
    top: 2px;

    font-size: 11px;
}

.stream .details .collection-item {
    padding: 0px 0px 0px 45px !important;
    min-height: 0px !important;
    line-height: 18px !important;
}

.stream .avatar .circle {
    left: 0px !important;
    width: 32px !important;
    height: 32px !important;
}

.stream .details span {
    padding-right: 5px;
    white-space: nowrap;
}

.stream .details .title {
    /*font-size: 18px !important;*/
    font-weight: 500;
}

.stream .details .language {
    text-transform: uppercase;
}

.discover-more-btn {
    background-color: #FF5722 !important;
    margin-top: 25px;
}

#create-room {
    padding: 100px 0px;
    background-color: #333333;
    background: url('/img/support/bg.png') 50% 50% no-repeat;
    /*background-size: cover;*/
}

#create-room .header-with-dot {

    width: 100%;
}

#stream-link {
    font-size: 11px;
    height: 20px;
    width: 50%;
    color: #FFFFFF;
}

#create-room-btn {
    font-size: 13px;
    margin-left: 40px;
    padding: 0 1.5rem;
}

.centerDiscover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .container {
    width: 75% !important;
    padding: 15px 0px;
}

footer .container .row {
    margin-bottom: 0px;
}

footer .roomit-logo-wrapper {
    display: inline-block;
}

footer .roomit-logo-wrapper span {
    line-height: 7px;
    font-size: 9px;
    font-weight: 400;
    display: block;
}

footer .links {
    text-align: center;
}

footer .links a {
    margin-right: 20px;
    font-size: 11px;
    font-weight: 500;
    color: #9E9E9E;
}

footer .links a:hover {
    color: #333333;
}

footer .social {
    text-align: right;
}

footer .social a {
    margin-right: 10px;
}

.footerBackground {
    background-color: #212121;
}
.valign, .valign .header.white-text{
    width: 100%;
}
.header_h4{
    position: absolute; 
    right:0; 
    top: 30px;
    text-transform: uppercase;
    color: #797e80;
    font-size: 15px;
}
.create-room-btn{
    padding: 0 15px 15px;
}