body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #9e9e9e;
	font-size: 12px;
	background-color: #333333;
}
main {
	height: 100%;
	margin-left: 60px;
}
.main_container.row, 
.video_area.col.s9.pull-s3, 
.room_chat.col.s3.push-s9, 
.controls_info.row{
	margin: 0;
	height: 100%;
}
.twitch .insideFrame object, 
.twitch .insideFrame, 
.twitch,
#platform_chat div,
.chat-container iframe{
	height: 100%;
	width: 100%;
}
.video_area{
	display: table;
}
.twitch, 
.controls{
	display: table-row;
}
.info_video{
	display: table;
	box-sizing: border-box;
	padding: 15px 25px;
	width: 95px;
}
.controls{
	height: 145px;
	position: relative;
}
#local_stream, 
.stream{
	display: table-cell;
	padding-left: 55px;
}
.info_video #local_stream{
	padding-left: 0;
}
.info_video video{
  border-radius: 50%;
  object-fit: cover;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.info_video .poss{
	position: relative;
}
.row .col.s9, 
.row .col.s3, 
.row .col{
	margin: 0;
	padding: 0;
}
.voice{
	position: absolute;
	top: 0;
	left: 65px;
}
.video{
	position: absolute;
	top: 20px;
	left: 70px;
}
.chat_tgl{
	position: absolute;
	bottom: 82.5px;
	left: -50px;

}
.room_chat.col.s3.push-s9{
	position: relative;
	background-color: #2b2a2a;
}
.tabs{
	width: 99.9% !important;
	height: 50px;
	background-color: inherit;
}
.tabs .tab a {
	font-size: 14px;
	color: #757575;
}
.tabs .tab.disabled a {
	color: #757575;
	opacity: 0.3;
}
.tabs .indicator {
	background-color: #ff5722;
}
.tabs .tab a:hover, 
.tabs .tab .active{
	color: #ffffff;
	background-color: #212121;
}
.chat_design{
	height: 100%;
}
#chat_inputs{
	position: absolute;
	z-index: 999;
	bottom: 5px;
	width: 100%;
}
.room_chat .controls{
	z-index: 999;
	position: absolute;
	display: block;
	height: 50px;
}
#local_chat{
	padding: 65px 0 55px 0;
	margin: 0;
	height: 100%;
}
#chat_content{
	position: relative;
	padding: 5px 20px 15px;
	height: 100%;
}
#username_input, 
#message_input{
	width: 100%;
	box-sizing: border-box;
	padding-left: 25px;
}
#username_input input, 
#message_input input{
	width: 80%;
	font-size: 12px;
	color: #9e9e9e;
}
.submit{
	position: relative;
	top: 5px;
	left: 10px;
}
.material-icons.submit{
	top: 15px;
}
.submit:hover{
	color: #ff5722;
}
::-webkit-input-placeholder{
	color: #9e9e9e;
	font-size: 12px;
}
.chat-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
.img_nochat{
	display: none;
}
.img_nochat img{
	width: 75%;
	transform: translate(15%,125%);
}