body {
  padding: 0;
  margin: 0;
}

.stream .insideFrame {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);

  pointer-events: none;
}

.stream object,
.stream iframe {
  height: 100%;
  width: 100%;
}

.stream:before {
  content:'';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.stream:hover:before{
  display: block;  
}

.creation {
  z-index: 22000;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}