<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Room it{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="Room it" /> 
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ static('styles/bootstrap.min.css') }}" />
    {% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{{ static('styles/agency.css') }}" /> {% endblock %}


    <!-- Custom Fonts -->
    <link href="{{ static('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}
    {% block javascript %}
    <script src="{{ static('scripts/jquery.js') }}"></script>
    <script src="{{ static('scripts/bootstrap.min.js') }}"></script>
    <script>
    var serverError = 'Server found itself in trouble. Please try again later. Sorry for inconvenience.';
    </script>
    {% block custom_javascript %}
    <script src="{{ static('scripts/agency.js') }}"></script>
    {% endblock %} {% endblock %}
</head>

<body id="page-top" class="index">
    {% block menu %}
    <nav class="navbar navbar-default" style="position: relative;width:100%;margin-bottom:0px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Start roomit</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/auth/logout/" style="color: #C94A29;">Logout</a>
                    </li>
                    <li>
                        <a href="/auth/profile/" style="color: #C94A29;">Profile</a>
                    </li>
                    <li>
                        <a href="/auth/signup/" style="color: #C94A29;">Sign up</a>
                    </li>
                    <li>
                        <a href="/auth/login/" style="color: #C94A29;">Login</a>
                    </li>
                    <li>
                        <a href="/" class="btn btn-l">Create Room</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% endblock %}

    {% block main %} {% endblock %}
    
    {% block footer %}
    <footer class="site-footer" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; roomit 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a class="page" href="#page-top">Scroll to the top</a>
                        </li>
                        <!-- <li><a href="#">Terms of Use</a>
                            </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>

</html>
