{% extends 'page.html' %}

{% block add_scripts %}
    <script>
        var games = [];

        {% for game in games %}
            games.push({
                'name': '{{ game.name }}',
                'id': {{ game.id }}
            })
        {% endfor %}

        var services = [];

        {% for service in services %}
            services.push({
                'name': '{{ service.name }}',
                'id': {{ service.id }}
            })
        {% endfor %}

        var streams = [];

        {% for stream in streams %}
            streams.push({
                'name': '{{ stream.name }}'
            })
        {% endfor %}

        </script>
    <script type="text/javascript" src="{{ static('scripts/discover.js') }}"></script>
{% endblock %}

{% block add_styles %}
    <link type="text/css" rel="stylesheet" href="{{ static('styles/discover.css') }}" />
{% endblock %}

{% block add_header %}
    <div class="discover_header">
        <div class="header_container">
            <div class="discover_search">
                <form>
                    <div class="search_field">
                        <input id="disc_search" type="search" placeholder="Search by name or game">
                        <label for="search"><i class="material-icons">search</i></label><!-- 
                        <i class="material-icons">close</i> -->
                    </div>
                </form>
            </div>
        </div>
            <div class="discover_selection">
                <div class="discover_game">
					<div class="row">
                    <div class="col s12">
                              <ul class="tabs">
                                <li class="tab col s1"><a class="active" href="#test1">All games</a></li>
                                <li class="tab col s1"><a href="#">Dota 2</a></li>
                                <li class="tab col s1"><a href="#">Lol</a></li>
                                <li class="tab col s1"><a href="#">Hearthstone</a></li>
                                <li class="tab col s1"><a href="#">CS:GO</a></li>
                                <li class="tab col s1"><a href="#">HotS</a></li>
                                <li class="tab col s1"><a href="#">Others</a></li>
                              </ul>
                    </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block content %}
	<div class="streams">
    {% for stream in streams %}
            <div class="col s12 m4 stream" style="width: 350px;margin-right: 10px;">
              <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="#"><img src="{{ stream.preview.replace('{width}', '400').replace('{height}', '224') }}"></a>
                </div>
                <div class="card-content grey-text">
                    <ul class="collection details">
                        <li class="collection-item card-black avatar">
                          <img src="{{ stream.logo }}" class="circle">
                          <p class="title white-text">{{ stream.display_name }}</p>
                          <span class="views">
                            <i class="tiny material-icons">visibility</i> {{ '{:,d}'.format(stream.viewers).replace(',', ' ') }}
                          </span>
                          <span class="platform">
                            <i class="tiny material-icons">stay_primary_landscape</i> TWITCH.TV
                          </span>
                          <span class="language">
                            <i class="tiny material-icons">translate</i> {{ stream.language }}
                          </span>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
        {% endfor %}
     </div>
{% endblock %}
