{% extends 'page.html' %}

{% block title %}Discover best eSports games online | Roomit.tv
{% endblock %}

{% block description%}<meta name="description" content="Watch all pro gaming tournaments in one place: Dota, League of Legends, Hearthstone, Counter Strike: Global Offensive, Heroes of the Storm, Starcraft, FIFA and others. Start watching in one click!" />
{% endblock %}

{% block add_scripts %}
    <script type="text/javascript" src="{{ static('scripts/discover.js') }}"></script>
{% endblock %}

{% block add_styles %}
    <link type="text/css" rel="stylesheet" href="{{ static('styles/discover.css') }}" />
{% endblock %}

{% block add_header %}
    <div class="discover_header">
        <div class="header_container">
            <div class="discover_search">
                <form>
                    <div class="search_field" id="stream_search">
                        <input type="search" id="srch" placeholder="Search by stream">
                        <label for="search"><i class="material-icons" id="icon_status">search</i></label>
                    </div>
                </form>
            </div>
        </div>
            <div class="discover_selection">
                <div class="discover_game">
					<div class="row">
                    <div class="col s6">
                      <ul class="tabs" id="game_filter">
                        <li class="tab col s1" ><a data-game-id="0" href="#">All games</a></li>
                        {% for game in games %}
                            <li class="tab col s1"><a data-game-id="{{ game.id }}" href="#">{{ game.short }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block content %}
    <div class="streams" id="streams"></div>
    <div class="shadow"></div>
    <span style="position: relative">
    <a href="#" id="load_more"></a>
    <div class="spinner">
    	<div class="progress">
        	<div class="indeterminate">
        	</div>
  	</div>
  	</div>
{% endblock %}
