{% extends 'base.html' %}

{% block additional_scripts %}
    <script type="text/javascript" src="{{ static('scripts/landing.js') }}"></script>
{% endblock %}

{% block additional_styles %}
    <link type="text/css" rel="stylesheet" href="{{ static('styles/landing.css') }}" />
{% endblock %}

{% block header %}
<header id="menu" class="navbar-fixed">
    <nav class="grey darken-3">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo"><img src="{{ static('img/roomit_logo.png') }}" /></a>
            <div class="right main-menu hide-on-med-and-down">
                <a href="#" data-scroll-to="benefits" class="scrollable-link">HOW IT WORKS</a>
                <a href="/discover/">DISCOVER</a>
                <!-- <a href="#">BLOG</a>
                <a href="#">CONTACTS</a> -->
                <a class="waves-effect waves-light btn get-premium" style="color: #ff5722;border-radius:0;">GET PREMIUM</a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="section no-pad-bot no-pad-top" id="header-banner">
    <div class="container header valign-wrapper">
        <div class="valign">
            <div class="header-with-dot">
                <h3 class="header white-text h_text">Watching should make <span style="position:relative;">pleasure
				<span class="roomit-dot">
                </span>
                <h4 class="header_h4 grey-text">We understand you</h4>
                </span>
                </h3>
            </div>
            <div class="center">
            <a href="#" data-scroll-to="create-room" class="btn waves-effect waves-light deep-orange scrollable-link create-room-btn">Create room</a></div>
        </div>
    </div>
    <div class="container center scroll" style="width: 85px;">
		<a href="#" class="scrollable-link" data-scroll-to="discover">LEARN MORE</a>
    </div>
</div>
<div class="section supportBackground valign-wrapper" id="support-header">
    <div class="container center-align valign">
        <img src="{{ static('img/support/youtube.png') }}" alt="YouTube" />
        <img src="{{ static('img/support/twitch.png') }}" alt="Twitch" />
        <img src="{{ static('img/support/hitbox.png') }}" alt="Hitbox" />
        <img src="{{ static('img/support/dailymotion.png') }}" alt="Dailymotion" />
        <img src="{{ static('img/support/huamao.png') }}" alt="HuaMao" />
        <img src="{{ static('img/support/douyu.png') }}" alt="Douyu" />
        <img src="{{ static('img/support/azubu.png') }}" alt="Azubu" />
    </div>
</div>
<div class="section main benefitsBackground valign-wrapper" id="benefits" >
    <div class="container center valign">
        <div class="header-with-dot">
            <span class="header white-text">This is how we roll<div class="roomit-dot"></div></span>
        </div>
        <div class="row benefits-row first-row">
            <div class="col s12 m4">
                <img src="{{ static('img/benefits/connected.png') }}" />
                <p class="benefit-title">CHOOSE STREAM
                <span class="roomit-dot"></span></p>
                <p class="description">Discover all streams from worlds best video streaming platforms on one page. Choose what You want to watch and create the room.</p>
            </div>
            <div class="col s12 m4">
                <img src="{{ static('img/benefits/friends.png') }}" />
                <p class="benefit-title">INVITE FRIENDS
                <span class="roomit-dot"></span></p>
                
                <p class="description">There are moments You want to share with friends. Only You decide whom to invite to Your room.</p>
            </div>
            <div class="col s12 m4">
                <img src="{{ static('img/benefits/nospam.png') }}" />
                <p class="center benefit-title">GET PLEASURED
                <span class="roomit-dot"></span></p>
                <p class="description">Enjoy using our private spam-free text chat. Share emotions and have fun with Your roommates via voice-video chat.</p>
            </div>
    </div>
    </div>
</div>

<div class="section main almost-black valign-wrapper" id="discover">
    <div class="container center valign">
      <div class="header-with-dot">
            <span class="header white-text">Discover what we have<div class="roomit-dot"></div></span>
        </div>

      <div class="row first-row">
        {% for stream in streams %}
            <div class="col s12 m4 stream" style="min-width: 422.5px;">
              <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="#"><img src="{{ stream.preview.replace('{width}', '400').replace('{height}', '224') }}"></a>
                </div>
                <div class="card-content grey-text">
                    <ul class="collection details">
                        <li class="collection-item card-black avatar">
                          <img src="{{ static('img/games/'~stream.game_canonical~'.png') }}" class="circle img-with-fallback"
                               data-fallback-src="{{ static('img/games/notfound.png') }}">
                          <p class="title white-text">{{ stream.display_name }}</p>
                          <span class="views">
                            <i class="tiny material-icons">visibility</i> {{ '{:,d}'.format(stream.viewers).replace(',', ' ') }}
                          </span>
                          <span class="platform">
                            <i class="tiny material-icons">stay_primary_landscape</i> TWITCH.TV
                          </span>
                          <span class="language">
                            <i class="tiny material-icons">translate</i> {{ stream.language }}
                          </span>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
        {% endfor %}
        <div class="col s12 m12"><a class="waves-effect waves-light btn discover-more-btn">DISCOVER MORE</a></div>
      </div>
    </div>
</div>

<div class="section main valign-wrapper" id="create-room">
    <div class="container center valign">
        <div class="header-with-dot">
            <span class="header white-text" style="margin-bottom: 10%;">Get <span style="font-weight: bold;">pleasure</span> from watching right now<div class="roomit-dot"
            ></div></span>
        </div>
        <div>
        <input placeholder="Insert link of stream here" id="stream-link" type="text" class="validate">
        </div>
        <a href="#" id="create-room-btn" class="btn btn-small waves-effect waves-light deep-orange">Create room</a>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footerBackground">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s6 l3 roomit-logo-wrapper">
                <a href="/"><img src="{{ static('img/roomit_logo_small_2.png') }}" class="hoverable-image" /></a>
                <span style="color: #757575; font-size:10px;">© Roomit 2015</span>
            </div>
            <div class="col l6 hide-on-med-and-down links">
                <a href="#" data-scroll-to="top" class="scrollable-link">TO TOP</a>
                <a href="#" data-scroll-to="benefits" class="scrollable-link">HOW IT WORKS</a>
                <a href="/discover/">DISCOVER</a>
                <a href="#">GET PREMIUM</a><!-- 
                <a href="#">BLOG</a>
                <a href="#">CONTACTS</a> -->
            </div>
            <div class="col s6 l3 social">
                <a href="#!"><img class="hoverable-image" src="{{ static('img/social/facebook.png') }}"/></a>
                <a href="#!"><img class="hoverable-image" src="{{ static('img/social/twitter.png') }}"/></a>
                <a href="#!"><img class="hoverable-image" src="{{ static('img/social/youtube.png') }}"/></a>
                <a href="#!"><img class="hoverable-image" src="{{ static('img/social/gplus.png') }}"/></a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}