{% extends 'page.html' %}
{% from 'utils.html' import get_service_frame, get_chat_frame %}

{% block add_scripts %}
    <script>
        var noCameraSrc = "{{ static('img/room/nocamera.png') }}";
        var ROOM_UUID = "{{ id }}";
    </script>
    <script type="text/javascript" src="{{ static('scripts/lib/socket.io-1.2.0.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/lib/network.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/room.js') }}"></script>
{% endblock %}

{% block add_styles %}
    <link type="text/css" rel="stylesheet" href="{{ static('styles/room.css') }}" />
{% endblock %}

{% block content %}
<div id="twitch_frame">
         {{ get_service_frame(service, channel) }}
         <div id="room_control">
         <div id="local_stream" class="stream local_stream">
             <div class="poss"><video autoplay="" mix-width="10px" min-height="10px" muted="muted"></video>
             <div id="local_stream_controls"></div></div>
        </div>
        <!-- <div id="room_control">
            
            <div id="roommates_content">
                <div id="local_stream" class="stream local_stream">
                    <video autoplay="" width="50" height="50" muted="muted">
                    </video>

                    <div id="local_stream_controls"></div>

                <div class="controls"><a class="active">ROOMMATES</a></div>
                </div>
            </div>
 </div> -->
 </div>
 </div>
</div>
    <div id="chat" class="right">
            <div class="col s12 controls">
              <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#local_chat">ROOM</a></li>
                <li class="tab col s6"><a href="#platform_chat">CHAT</a></li>
              </ul>
            </div>
            <div id="local_chat" style="height: 90%;">
                <div id="chat_content"></div>
                <div id="chat_inputs">
                    <div id="username_input" style="display: block;">
                        <input placeholder="How should we call you?" type="text" />
                        <span class="submit">OK</span>
                    </div>
                    <div id="message_input" style="display: none;">
                        <input placeholder="Your message..." type="text" />
                        <i class="material-icons submit">send</i>
                    </div>
                </div>
            </div>
            <div id="platform_chat" class="chat-container">

                {{ get_chat_frame(service, channel) }}
            </div>
 </div>

{% endblock %}
