{% extends 'page.html' %}
{% from 'utils.html' import get_service_frame, get_chat_frame %}

{% block add_scripts %}
    <script>
        var noCameraSrc = "{{ static('img/room/nocamera.png') }}";
    </script>
    <script type="text/javascript" src="{{ static('scripts/lib/ion.sound.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/lib/socket.io-1.2.0.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/lib/network.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/lib/perfect-scrollbar.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/room.js') }}"></script>
    <script type="text/javascript" src="{{ static('scripts/lib/stream.js') }}"></script>
    <script type="text/javascript">
        var handler = new StreamHandler('#dummy_switcher', '.insideFrame');
        handler.init({{ streams|safe }}, {{ owner }});
    </script>
{% endblock %}

{% block add_styles %}
    <link type="text/css" rel="stylesheet" href="{{ static('styles/room.css') }}" />
{% endblock %}

{% block content %}
<div class="main_container row">
    <div class="video_area col s9 pull-s3">
        <div id="dummy_switcher">
        </div>
        <div class="twitch" id="twitch_frame">
          <iframe class="insideFrame"></iframe>
        </div>
        <div class="controls">
        <div class="info_video" id="room_control">
                <span class="poss">
                    <div id="local_stream">
                        <video autoplay="" muted="muted"></video>
                        <div id="local_stream_controls"></div>
                    </div>
                <span>
            </div>
            <div class="controls_info">
            <div class="col s2">
                <ul class="tabs">
                    <!-- <li class="tab col s2 disabled"><a href="#info_stream">INFO</a></li> -->
                    <li class="tab col s2"><a class="active"  href="#room_control" id="roommates"></a></li>
                    <!-- <li class="tab col s2 disabled"><a href="#info_settings">SETTINGS</a></li> -->
              </ul>
            </div>
            </div>
        </div>
    </div>
    <div class="room_chat col s3 push-s9" id="chat">
    <span id="chat_toggle"></span>
        <div class="controls col s12">
              <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#local_chat">ROOM</a></li>
                <li class="tab col s6"><a href="#platform_chat">CHAT</a></li>
              </ul>
            </div>
            <div id="local_chat">
                <div id="chat_content">
                <div class="img_nochat"><img src="{{ static('/img/chat_no_message.png') }}"></div>
                </div>
                <div id="chat_inputs">
                    <div id="username_input" style="display: block;">
                        <input placeholder="How should we call you?" type="text" />
                        <span class="submit">OK</span>
                    </div>
                    <div id="message_input" style="display: none;">
                        <input placeholder="Your message..." type="text" />
                        <span class="material-icons submit">send</span>
                    </div>
                </div>
            </div>
            <div id="platform_chat" class="chat-container">

                {{ get_chat_frame(service, channel) }}
            </div>
    </div>
</div>
{% endblock %}
