{% macro get_service_frame(service, channel) -%}

<div class="insideFrame">
{% if service == 'twitch' %}
	<!-- <object type="application/x-shockwave-flash" class="frame" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ channel }}" bgcolor="#000000">
	    <param name="allowFullScreen" value="true" />
	    <param name="allowScriptAccess" value="always" />
	    <param name="allowNetworking" value="all" />
	    <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
	    <param name="flashvars" value="hostname=www.twitch.tv&channel={{ channel }}&auto_play=true&start_volume=25" />
	</object> -->
	<iframe class="insideFrame" src="http://player.twitch.tv/?channel={{ channel }}" frameborder="0" scrolling="no"></iframe>        
{% endif %}
{% if service == 'hitbox' %}
<iframe class="insideFrame" src="http://www.hitbox.tv/embed/{{ channel }}?autoplay=true" frameborder="0" scrolling="no"></iframe>
{% endif %}
{% if service == 'azubu' %}
<iframe class="insideFrame" src='http://embed.azubu.tv/{{ channel }}?autoplay=true' frameborder='0' allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
<!-- <iframe src="http://www.azubu.tv/azubulink/embed={{ channel }}" class="frame" frameborder="0" allowfullscreen></iframe> -->
{% endif %}
{% if service == 'dailymotion' %}
<iframe frameborder="0" class="frame" src="http://www.dailymotion.com/embed/video/{{ channel }}" allowfullscreen ></iframe>
{% endif %}
{% if service == 'douyutv' %}
<embed class="frame" allownetworking="all" allowscriptaccess="always" src="http://staticlive.douyutv.com/common/share/play.swf?room_id={{ channel }}" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
{% endif %}
{% if service == 'huomaotv' %}
<iframe class="frame" src='http://www.huomaotv.com/index.php?c=outplayer&live_id={{ channel }}' frameborder=0 allowfullscreen></iframe>
{% endif %}
{% if service == 'youtube' %}
<iframe class="frame" src="https://www.youtube.com/embed/{{ channel }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
</div>
{%- endmacro %}

{% macro get_chat_frame(service, channel) -%}

<div class="">
{% if service == 'twitch' %}
<iframe style="float: right; display: inline-block;" frameborder="0" scrolling="no" src="http://twitch.tv/{{ channel }}/chat" class="frame"></iframe>
{% endif %}
{% if service == 'hitbox' %}
<iframe style="float: right; display: inline-block;" src="http://www.hitbox.tv/embedchat/{{ channel }}" scrolling="no" frameborder="0" allowfullscreen class="frame"></iframe>
{% endif %}
{% if service == 'azubu' %}
<iframe frameborder="0" src="http://www.azubu.tv/{{ channel }}/chatpopup" allowfullscreen class="frame"></iframe>
{% endif %}
{% if service == 'dailymotion' %}
<iframe frameborder="0" src="http://live-chat.dmcdn.net/#csgoprizes/{{ channel }}/games" allowfullscreen class="frame"></iframe>
{% endif %}
{% if service == 'douyutv' %}
{% endif %}
{% if service == 'huomaotv' %}
{% endif %}
{% if service == 'youtube' %}
{% endif %}
</div>
{%- endmacro %}