{% macro get_service_frame(service, channel) -%}

<div class="insideFrame">
{% if service == 'twitch' %}
	<object  type="application/x-shockwave-flash" class="frame" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ channel }}" bgcolor="#000000">
	    <param name="allowFullScreen" value="true" />
	    <param name="allowScriptAccess" value="always" />
	    <param name="allowNetworking" value="all" />
	    <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
	    <param name="flashvars" value="hostname=www.twitch.tv&channel={{ channel }}&auto_play=true&start_volume=25" />
	</object>
{% endif %}
{% if service == 'hitbox' %}
<iframe class="frame" src="http://www.hitbox.tv/embed/{{ channel }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% if service == 'azubu' %}
<iframe src="http://www.azubu.tv/azubulink/embed={{ channel }}" class="frame" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% if service == 'dailymotion' %}
<iframe frameborder="0" class="frame" src="http://www.dailymotion.com/embed/video/{{ channel }}" allowfullscreen ></iframe>
{% endif %}
{% if service == 'douyutv' %}
<embed class="frame" allownetworking="all" allowscriptaccess="always" src="http://staticlive.douyutv.com/common/share/play.swf?room_id={{ channel }}" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
{% endif %}
</div>
{%- endmacro %}