{% macro get_service_frame(service, channel) -%}

<div style="height:600px;width:100%;">
{% if service == 'twitch' %}
	<object style="float: left; display: inline-block;" type="application/x-shockwave-flash" height="100%" width="100%" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ channel }}" bgcolor="#000000">
	    <param name="allowFullScreen" value="true" />
	    <param name="allowScriptAccess" value="always" />
	    <param name="allowNetworking" value="all" />
	    <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
	    <param name="flashvars" value="hostname=www.twitch.tv&channel={{ channel }}&auto_play=true&start_volume=25" />
	</object>
{% endif %}
{% if service == 'hitbox' %}
<iframe width="100%" height="600" src="http://www.hitbox.tv/embed/{{ channel }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% if service == 'azubu' %}
<iframe src="http://video.azubu.tv/services/player/bcpid3594868184001?bckey=AQ~~,AAADDsF76gk~,aeB-sfIIuRjHKAq2udBzl5xOFsHqSFjw&@videoPlayer=ref:video36209CH{{ channel }}&width=100%25&height=100%25&bgcolor=#000000&htmlFallback=htmlFallback&includeAPI=true&quality=high&dynamicStreaming=true&isUI=true&isVid=true" width="100%" height="100%"></iframe>
{% endif %}
{% if service == 'dailymotion' %}
<iframe frameborder="0" width="100%" height="600" src="http://www.dailymotion.com/embed/video/{{ channel }}" allowfullscreen ></iframe>
{% endif %}
</div>
{%- endmacro %}