{% extends 'base.html' %} {% block main %} {% from "room/utils.html" import get_service_frame %} {% from "room/utils.html" import get_chat_frame %} {% block custom_javascript %}
<script>
var ROOM_UUID = '{{ room_uuid }}';
var ROOM_ID = parseInt('{{ id }}');
</script>
{% endblock %}
<div class="" style="background-color: #f5f5f5;">
    <div class="panel hidden-xs" style="border-top: 1px solid rgba(0, 0, 0, 0.19); border-radius: 0px;">
        <div class="panel-light panel-body hidden-sm hidden-xs">
            <div></div>
            <div class="row row-space-top-6 row-space-6">
                <div class="col-7 col-center text-center">
                    <h1 class="h2">Share with friends</h1>
                    <p class="text-lead">
                        Watch the stream together
                    </p>
                    <!-- <a href="/room/create/" class="btn btn-l">Copy link</a>                     -->
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="videoFrameMargin col-sm-12 col-md-9 col-lg-9" style="padding: 0;">
                {{ get_service_frame(service, channel) }}
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="margin-bottom: 20px; padding: 0;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Room</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Public</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <div class="insideFrameChat">
                            <ul class="pages">
                                <li class="chat page" style="width: 100%;">
                                    <div class="chatArea" style="padding-bottom: 0; height: 90%;">
                                        <ul class="messages"></ul>
                                    </div>
                                    <input id="inputMessage" class="inputMessage" placeholder="Type here..." />
                                </li>
                                <li class="login page">
                                    <div class="form">
                                        <h4 style="color: #fff;">Please log into chat</h4>
                                        <h3 class="title">What's your nickname?</h3>
                                        <input class="usernameInput" type="text" maxlength="14" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <div class="insideFrameChat">
                            {{ get_chat_frame(service, channel) }}
                        </div>
                    </div>
                </div>
                <!-- twitch.tv -->
                <!-- <iframe style="float: right; display: inline-block;" frameborder="0" scrolling="no" src="http://twitch.tv/{{ link }}/chat?popout=" height="500" width="300"></iframe> -->
                <!-- hitbox.tv -->
                <!-- <iframe width="340" height="700" src="http://www.hitbox.tv/embedchat/sscaitournament" frameborder="0" allowfullscreen></iframe> -->
                <!-- games.dailymotion -->
                <!--<iframe frameborder="0" width="380" height="240" src="http://live-chat.dmcdn.net/#csgoprizes/x2jbvkm/games" allowfullscreen ></iframe>-->
                <!-- azubu.tv -->
                <!-- <iframe frameborder="0" width="380" height="240" src="http://www.azubu.tv/Ambition/chatpopup" allowfullscreen></iframe> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="height: auto; margin-bottom: 20px; padding: 0;min-height:200px;">
                <div id="audio_chat_me" style="float: left;">
                    <div id="myvideoLook" style="display: inline-block; margin: 5px;">
                    </div>
                    <div id="stuff">
                        <a id="toggle_video">
                            <div style="border-radius: 15px; padding: 4px;margin:2px;" class="videoImg">
                                <img src="../img/novideo.png" width="20px">
                            </div>
                        </a>
                        <a id="toggle_audio">
                            <div style="border-radius: 15px; padding: 4px;margin:2px;" class="audioImg">
                                <img src="../img/noaudio.png" width="20px">
                            </div>
                        </a>
                    </div>
                    <!-- <ul class="pages">
                        <li class="chat page" style="width: 100%;">
                            <div class="col-sm-12" id="audio_chat" style="float: right; background-color: gray; width: 60%; height: 100%;">
                            </div>
                            <div class="chatArea">
                                <ul class="messages"></ul>
                            </div>
                            <input class="inputMessage" placeholder="Type here..." />
                        </li>
                        <li class="login page">
                            <div class="form">
                                <h3 class="title">What's your nickname?</h3>
                                <input class="usernameInput" type="text" maxlength="14" />
                            </div>
                        </li>
                    </ul> -->
                </div>
                <div id="audio_chat" style="display: inline-flex;  vertical-align: top;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
