{% extends 'base.html' %} 
{% block main %}
{% from "room/utils.html" import get_service_frame %}
{% block custom_javascript %}
    <script>
        var ROOM_UUID = '{{ room_uuid }}';
    </script>
{% endblock %}

<div class="" style="background-color: #EEEEEE;">
    <div class="panel" style="border-top: 1px solid rgba(0, 0, 0, 0.19); border-radius: 0px;">
        <div class="panel-light panel-body">
            <div></div>
            <div class="row row-space-top-6 row-space-6">
                <div class="col-7 col-center text-center">
                    <h1 class="h2">Your room</h1>
                    <p class="text-lead">
                        You can watch stream together with your friends with roomit.tv
                    </p>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9" style="margin-bottom: 20px; padding: 0;">
                {{ get_service_frame(service, channel) }}
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="margin-bottom: 20px; padding: 0;">
                <div class="insideFrameChat">
                    <ul class="pages">
                        <li class="chat page" style="width: 100%;">
                            <div class="chatArea">
                                <ul class="messages"></ul>
                            </div>
                            <input class="inputMessage" placeholder="Type here..." />
                        </li>
                        <li class="login page">
                            <div class="form">
                                <h4 style="color: #fff;">Please log into chat</h4>
                                <h3 class="title">What's your nickname?</h3>
                                <input class="usernameInput" type="text" maxlength="14" />
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <iframe style="float: right; display: inline-block;" frameborder="0" scrolling="no" src="http://twitch.tv/{{ link }}/chat?popout=" height="500" width="300"></iframe> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="height: 200px; margin-bottom: 20px; padding: 0;">
                <div id="audio_chat" style="float: right;width: 100%;">
                </div>
                <!-- <ul class="pages">
                        <li class="chat page" style="width: 100%;">
                            <div class="col-sm-12" id="audio_chat" style="float: right; background-color: gray; width: 60%; height: 100%;">
                            </div>
                            <div class="chatArea">
                                <ul class="messages"></ul>
                            </div>
                            <input class="inputMessage" placeholder="Type here..." />
                        </li>
                        <li class="login page">
                            <div class="form">
                                <h3 class="title">What's your nickname?</h3>
                                <input class="usernameInput" type="text" maxlength="14" />
                            </div>
                        </li>
                    </ul> -->
            </div>
        </div>
    </div>
    {% endblock %}
