{% extends 'base.html' %} {% block main %}
<div class="page-wrap" style="background-color: #EEEEEE;">
    <div class="panel" style="border-top: 1px solid rgba(0, 0, 0, 0.19); border-radius: 0px;">
        <div class="panel-light panel-body">
            <div></div>
            <div class="row row-space-top-6 row-space-6">
                <div class="col-7 col-center text-center">
                    <h1 class="h2">Your room</h1>
                    <p class="text-lead">
                        You can watch stream together with your friends with roomit.tv
                    </p>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div class="container">            
            <div class="row">
                <div class="col-md-9 col-md-offset-3" id="js-submit-button">
                    <div class="pull-left">
                        <!-- <button type="submit" class="btn btn-primary btn-xl submit">
                            Create
                        </button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
